
* {
    -fx-background-color: #242424;
}

.text {
    -fx-fill: #f0f0f0;
}

.Label {
    -fx-background-color: #363636;
}

.profileLabel {
    -fx-font-size: 24px;
}

.menu-button {
    -fx-background-color: #363636;
}

.menu-button * {
    -fx-background-color: #363636;
}

.menu-button .menu-item:hover {
     -fx-background-color: #484848;
}

.menu-button .menu-item:hover * {
     -fx-background-color: #484848;
}

.menu-button .arrow {
    -fx-background-color: #f0f0f0;
}

.text-field {
    -fx-background-color: #363636;
}

.text-field * {
    -fx-background-color: #363636;
}

.text-input {
    -fx-text-fill: #f0f0f0;
}