
* {
    -fx-background-color: #242424;
}

.text {
    -fx-fill: #f0f0f0;
}





#profileLabel {
    -fx-font-size: 20px;
}

#centerVBox * {
    -fx-background-color: #484848;
}

#centerVBox .Label {
    -fx-background-color: #363636;
}

.jfx-button {
    -fx-background-color: #363636;
}

.ListView {
    -fx-background-color: #484848;
}

.menu-button {
    -fx-background-color: #363636;
}

.menu-item .label {
    -fx-background-color: #363636;
}

.menu-item:focused {
    -fx-background-color: #484848;
}

.TextField {
    -fx-background-color: #363636;
}

.text-input {
    -fx-text-fill: #f0f0f0;
}